[workspace]
channels = ["conda-forge", "bioconda"]
name = "Assembleur"
platforms = ["linux-64"]
version = "0.1.0"

[tasks._preparedir]
cmd = "mkdir -p build"

[tasks._configure]
cmd = "cmake -S . -B build"
description = "Configure the C++ project using CMake"

[tasks.build]
cmd = "cmake --build build"
description = "Build the C++ project using CMake"
depends-on = ["_preparedir", "_configure"]

[tasks.test]
cmd = "./build/run_tests"
description = "Run the test suite"

[tasks.start]
args = [
    { "arg" = "file", "default" = "data/reads.fasta" },
    { "arg" = "output", "default" = "ramilass" },
]
cmd = "./build/ramilass $INIT_CWD/{{ file }} output --fuse --gfa --debug"
description = "Run the app"

[tasks.ramilass]
cmd = "./build/ramilass"
description = "Run the app"

[tasks.tofasta]
args = [
    { "arg" = "input", "default" = "./data/reads.fastq.fq" },
    { "arg" = "output", "default" = "./data/reads.fasta" }]
cmd = "sed ':a;N;$!ba;s/+\\n/+/g' {{ input }} | grep -v \"^+\" | sed \"s/@/>/g\" > {{ output }}"

[tasks._build_debug]
cmd = "rm -r build && cmake -B build -DCMAKE_BUILD_TYPE=Debug && cmake --build build"

[tasks.check_memory]
cmd = "valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --track-origins=yes build/ramilass data/reads.fasta --fuse"
description = "Check memory leaks using Valgrind"

[dependencies]
cmake = ">=4.1.2,<5"
gtest = ">=1.17.0,<2"
minia = { version = ">=3.2.6,<4", channel = "bioconda" }
quast = { version = ">=5.3.0,<6", channel = "bioconda" }
valgrind = ">=3.25.1,<4"
