[workspace]
channels = ["conda-forge"]
name = "Assembleur"
platforms = ["linux-64"]
version = "0.1.0"

[tasks._preparedir]
cmd = "mkdir -p build"

[tasks._configure]
cmd = "cmake -S . -B build"
description = "Configure the C++ project using CMake"

[tasks.build]
cmd = "cmake --build build"
description = "Build the C++ project using CMake"
depends-on = ["_preparedir", "_configure"]

[tasks.test]
cmd = "./build/run_tests"
description = "Run the test suite"

[tasks.start]
args = [
    { "arg" = "file", "default" = "./Tests_Et_Ref/reads.fasta" },
    { "arg" = "output_tsv", "default" = "./output.tsv" },
]
cmd = "./build/assembler_app {{ file }} {{ output_tsv }}"
description = "Run the app"

[tasks.tofasta]
args = [
    { "arg" = "input", "default" = "./Tests_Et_Ref/reads.fastq.fq" },
    { "arg" = "output", "default" = "./Tests_Et_Ref/reads.fasta" }]
cmd = "sed ':a;N;$!ba;s/+\\n/+/g' {{ input }} | grep -v \"^+\" | sed \"s/@/>/g\" > {{ output }}"

[dependencies]
cmake = ">=4.1.2,<5"
gtest = ">=1.17.0,<2"
